body {
  display: inline;
  margin: 0px;
  background-color: rgb(43, 93, 200);
}
a {
  text-decoration: none;
}
.navbar {
  display: block;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  margin: 0px;
  background-color: #e7e7e7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.homeleft {
  float: left;
  padding-top: 0px;
}

.left {
  float: left;
  padding: 14px 16px;
  border-left: 1px solid #bbb;
}

.follow {
  float: left;
  padding: 14px 16px;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

.logout {
  float: right;
  padding: 14px 16px;

}

.navbar :hover {
  color: rgb(143, 187, 248);
}

.homeleft :hover {
  color: rgb(143, 187, 248);
}


.logout {
  border-right: none;
  border-left: 1px solid #bbb;
}

.profile {
  border-left: 1px solid #bbb;
}

.navbar {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(243, 49, 49);
}

.navbar :visited {
  color:rgb(243, 49, 49);
}
.navbar :hover{
  color:rgb(143, 187, 248);
}

 .home{
  padding: 0px;
  padding-right: 20px;
} 


.logo {
  width: 40px;
}

@font-face {
  font-family: 'billabong';
  src: url("./billabong.ttf");
}

.billabong {
  padding: 5px 5px;
  font-family: 'billabong';
  font-size: 30px;
  color: rgb(243, 49, 49);
}

.home {
  padding-top: 3px;
  display: flex;
}

.active {
  background-color: rgb(255, 142, 142);
  color: white;
}

.active .home{
  background-color: #e7e7e7;
}