.smurf {
  max-height: 300px;
}

.title {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 2;
  background-color: rgba(244, 244, 244, 0.952);
  border: solid black;
  margin: 20px;
  padding: 15px;
  text-align: center;
  font-size: 40px;
}